<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/app.css" />
    <title>Corporación Capsula</title>
    <link rel="icon" href="/img/Logo_de_Capsule_Corp.jpg" />
  </head>
  <body>
    <header style="width: 100%">
      <!--<img src="/img/Logo_de_Capsule_Corp.jpg" alt="" style="width: 10%" />-->
      <marquee direction="left" scrollamount="15" style="width: 100%">
        <img src="/img/goku.gif" class="" alt="..." style="width: 190px" />
        <img
          src="https://i.pinimg.com/originals/5a/e8/58/5ae8580cf15fe0aa443fd3e79bf32d68.gif"
          class=""
          alt="..."
          style="width: 190px"
        />
        <img
          src="https://i.pinimg.com/originals/e8/58/a7/e858a766267798053f8540ba62ff38ef.gif"
          class=""
          alt="..."
          style="width: 190px"
        />
        <img
          src="https://i.pinimg.com/originals/35/6f/2d/356f2d37dc5d49305d5a5fbe2c0ba349.gif"
          class=""
          alt="..."
          style="width: 200px"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Dragonball_Anime-Serie_Original-Logo.svg/1200px-Dragonball_Anime-Serie_Original-Logo.svg.png"
          class=""
          alt="..."
          style="width: 190px"
        />
        <img
          src="https://i.pinimg.com/originals/3b/db/06/3bdb0635f95690d994862c99c5ee533d.gif"
          class=""
          alt="..."
          style="width: 190px"
        />
        <img
          src="https://i.pinimg.com/originals/6b/a1/15/6ba115121b366a8b86c72fc3ce137fac.gif"
          class=""
          alt="..."
          style="width: 190px"
        />
        <img
          src="https://i.pinimg.com/originals/7f/4f/c2/7f4fc286ffe7cfff9523d5d57e5ca33b.gif"
          class=""
          alt="..."
          style="width: 190px"
        />
        <img
          src="https://i.pinimg.com/originals/68/ca/5b/68ca5bf868a95b13d055c33fd5c3a797.gif"
          class=""
          alt="..."
          style="width: 190px"
        />
      </marquee>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid menu">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Dragonball_Anime-Serie_Original-Logo.svg/200px-Dragonball_Anime-Serie_Original-Logo.svg.png"
                  alt="Avatar Logo"
                  style="width: 110px"
                  class="rounded-pill"
              /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white">
                <img
                  src="/img/DBZ.jpg"
                  alt="Avatar Logo"
                  style="width: 170px"
                  class="rounded-pill"
              /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img
                  src="/img/DBGT_(Logo_2).jpg"
                  alt="Avatar Logo"
                  style="width: 140px"
                  class="rounded-pill"
                />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/2/22/Dragon_Ball_Super.png"
                  alt="Avatar Logo"
                  style="width: 170px"
                  class="rounded-pill"
                />
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" />
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <div
      id="carouselExampleControls"
      class="carousel slide row d-flex justify"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://eltallerdehector.com/wp-content/uploads/2022/08/goku-ssj-3-png.png"
            class=""
            alt="..."
            style="width: 403px"
          />
          <img
            src="/img/Vegeta.jpg"
            class=""
            alt="..."
            style="width: 150px; position: relative; left: 100px; top: -10px"
          />
          <img
            src="/img/Gotenks.jpg"
            class=""
            alt="..."
            style="width: 190px; position: relative; left: 300px; top: -50px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7349ae7a-95fb-48b3-a00b-b7cbced55724/dduo1jo-89120840-e6b2-4487-8948-cefc0796be67.png/v1/fill/w_633,h_1262,strp/gohan_del_futuro_by_naironkr_dduo1jo-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjU1MCIsInBhdGgiOiJcL2ZcLzczNDlhZTdhLTk1ZmItNDhiMy1hMDBiLWI3Y2JjZWQ1NTcyNFwvZGR1bzFqby04OTEyMDg0MC1lNmIyLTQ0ODctODk0OC1jZWZjMDc5NmJlNjcucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.DTNwBYBPWk_SHTBWgYmdRjH2gh02i5xTCPS59kWh7XE"
            class=""
            alt="..."
            style="width: 200px"
          />
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7349ae7a-95fb-48b3-a00b-b7cbced55724/ddqa5dk-ef0abb29-8fdb-4aa8-b404-b46c6ea40c20.png/v1/fill/w_1280,h_2297/broly_modo_berserk_by_naironkr_ddqa5dk-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjI5NyIsInBhdGgiOiJcL2ZcLzczNDlhZTdhLTk1ZmItNDhiMy1hMDBiLWI3Y2JjZWQ1NTcyNFwvZGRxYTVkay1lZjBhYmIyOS04ZmRiLTRhYTgtYjQwNC1iNDZjNmVhNDBjMjAucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Gvn6l7rfs1OGbzkbhzuidnwaDLEOB0xmRzxqwwbC8Iw"
            class=""
            alt="..."
            style="width: 250px; position: relative; left: 200px; top: -10px"
          />
          <img
            src="/img/super17.jpg"
            class=""
            alt="..."
            style="width: 230px; position: relative; left: 400px; top: -10px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4805bb10-2561-4f69-b899-a4f774a82de4/ddi65ls-27b96eed-6936-4621-bce3-e65d912c7a15.png/v1/fill/w_1920,h_2796,strp/vegeta_ssj_dios_render_1_by_ssjrose890_ddi65ls-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Mjc5NiIsInBhdGgiOiJcL2ZcLzQ4MDViYjEwLTI1NjEtNGY2OS1iODk5LWE0Zjc3NGE4MmRlNFwvZGRpNjVscy0yN2I5NmVlZC02OTM2LTQ2MjEtYmNlMy1lNjVkOTEyYzdhMTUucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ZjOEHWXrPe7EYUIU_AvDlgYiIL6fITcawhkHwj3BYCA"
            class=""
            alt="..."
            style="width: 250px"
          />
          <img
            src="https://i0.wp.com/eltallerdehector.com/wp-content/uploads/2022/07/Gohan-modo-Bestia-png.png?resize=800%2C800&ssl=1"
            class=""
            alt="..."
            style="width: 400px; position: relative; left: 150px; top: -10px"
          />
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/860fc9cb-da0a-4a98-af86-4b193ce92fd2/defghcs-455edd08-d816-4d02-a739-ce2e2138a728.png/v1/fill/w_1280,h_1707/granola_by_nanasukmana88_defghcs-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcwNyIsInBhdGgiOiJcL2ZcLzg2MGZjOWNiLWRhMGEtNGE5OC1hZjg2LTRiMTkzY2U5MmZkMlwvZGVmZ2hjcy00NTVlZGQwOC1kODE2LTRkMDItYTczOS1jZTJlMjEzOGE3MjgucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QOwUNhH--jzwNKjWFptM2blIC7yMbYgcIAuC5i_pg-A"
            class=""
            alt="..."
            style="width: 320px; position: relative; left: 150px; top: -10px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/img/mEYznaTf_o.png"
            class=""
            alt="..."
            style="width: 185px"
          />
          <img
            src="/img/ud.jpg"
            class=""
            alt="..."
            style="width: 220px; position: relative; left: 200px; top: -10px"
          />
          <img
            src="https://i.seadn.io/gae/iWJKjReuLcym5phgOnczpcuMZAOSkKqAdmWm5pDrCjfarXZqa5eu-_Bv0co-jO2QGpu4eTVtsvGIW9Pypt2J6U5nV3pgTghRw7nh?auto=format&w=1000"
            class=""
            alt="..."
            style="width: 250px; position: relative; left: 400px; top: -5px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/img/Beerus.jpg"
            class=""
            alt="..."
            style="width: 190px; position: relative; left: 900px; top: 1px"
          />
          <img
            src="/img/dios1.jpg"
            class=""
            alt="..."
            style="width: 190px; position: relative; left: 270px; top: 50px"
          />
          <img
            src="https://i.pinimg.com/originals/e9/71/e5/e971e532360d4473862eb1c6f4fc7a88.png"
            class=""
            alt="..."
            style="width: 450px; position: relative; left: -450px; top: -5px"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden alert-dark">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden alert-dark">Next</span>
      </button>
    </div>
    <div class="">
      <img
        src="https://i.pinimg.com/originals/f7/63/bf/f763bf4800723a0bd029953a5a2f9c96.gif"
        class=""
        alt="..."
        style="width: 300px; position: relative; top: 1px"
      />
      <img
        src="https://i.pinimg.com/originals/8d/90/8a/8d908ae4bb456d5e864b5346affe6070.gif"
        class=""
        alt="..."
        style="width: 300px; position: relative; left: 150px; top: 1px"
      />
      <img
        src="https://i.pinimg.com/originals/81/c9/08/81c908707010bbd47b7400c596543aed.gif"
        class=""
        alt="..."
        style="width: 500px; position: relative; left: 150px; top: -10px"
      />
    </div>
    <div style="width: 100%;">
      <button onclick="document.getElementById('myImage').src='https://orig00.deviantart.net/a1f2/f/2017/237/3/0/goku_nueva_transformacion_by_bardocksonic-dbl8log.png'">
        Turn on the light
      </button>

      <img id="" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ded4c09d-6f31-4249-b9c5-5918e01082f3/deza8e9-b79fc074-2c89-4214-b0cb-73152b904149.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RlZDRjMDlkLTZmMzEtNDI0OS1iOWM1LTU5MThlMDEwODJmM1wvZGV6YThlOS1iNzlmYzA3NC0yYzg5LTQyMTQtYjBjYi03MzE1MmI5MDQxNDkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Lr3WO0KgOnsyrH2giFIgRXg2jSa6zJIJPCpwXJpichY " 
      style="width: 500px; position: relative; left: 1px; top: -10px" />
      <img id="myImage" src="https://i.pinimg.com/originals/c8/c9/14/c8c9146673ea29fcc5ee94ca98059efe.png" 
      style="width: 120px; position: relative; left: -320px; top: 20px" />

      <button onclick="document.getElementById('myImage').src='https://i.pinimg.com/originals/c8/c9/14/c8c9146673ea29fcc5ee94ca98059efe.png'">
        Turn off the light
      </button>
    </div>
    <footer style="background-color: grey">
      <div>
        <img src="/img/Logo_de_Capsule_Corp.jpg" alt="" style="width: 100px" />
      </div>
    </footer>
  </body>
</html>
